body{
    background-image: url("home2.jpeg");
    background-size: cover;
}
h1{
    font-style: italic;
    font-family: cursive;
    color: palevioletred;
    font-size: 90px
}
a{
    font-style: italic;
    font-family: cursive;
    color: palevioletred;
    font-size: 60px 
}
h2{
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    color: palevioletred;
}